<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="trident-net" value="http://ec2-54-184-14-127.us-west-2.compute.amazonaws.com/nuget/trident-net/" />
  </packageSources>
<configuration>